<div class="content">
  <section>
    <h2>Our Mission</h2>

    <p>
    The purpose of the Secular Therapy Project is to help connect non-religious or secular persons who need mental health services with outstanding mental health professionals, such as psychologists, psychiatrists, counselors, and others. Using our system is simple and requires very little information from you. Our goal is to protect your confidentiality until you find a therapist to correspond with or to work with.
    </p>
    <p>
    What’s unique about the STP is that we aren’t just a database of therapists. Instead, we very carefully screen potential therapists who want to become part of the STP. We screen them to make sure that a) they are appropriately licensed in their state or country, b) that they are secular in nature as well as practice, and c) that they actually use evidence-based treatments, which have been shown to be effective at helping improve mental health problems in controlled clinical trials. This means not only will our therapists not try to preach to you or convert you, but that they are also using the most well-supported types of treatment to help you.
    </p>
    <h3>To Therapists</h3>
    <p>

    If you are a therapist, we encourage you to register with us. To make this project effective for secular clients, we need as many therapists as possible -- a critical mass -- that allows us to have therapists in every community.
    </p>
    <p>
There are many secular people in your community that have mental health needs. Unfortunately, many secularists report that they cannot find a secular counselor in their community. We know there are often many secular therapists, but they cannot openly advertise as secular for fear of losing clients or other negative social and professional consequences. By registering you increase the likelihood that secular clients will find you and they will be able to avoid therapists who allow their religious, spiritual or supernatural beliefs to inform their therapeutic approach.
    </p>
    <h4>Our History</h4>
    <p>
The STP was founded in 2012 by Dr. Darrel Ray as part of the larger organization Recovering from Religion. It came about due to Dr. Ray repeatedly hearing, in his work with the secular community, stories from people who consulted a mental health professional only to find out after several sessions that the professional was spiritual, religious, or had new age ideas that they were pushing onto their client. Investigating, Investigating the issue, Dr. Ray found that it was quite difficult to find a therapist that is actually secular or will only use evidence based methods with a client. Secular therapists often don't advertise that they are humanist or atheist because that might alienate the churches and ministers who frequently make referrals to them, as well as potentially driving away religious clients. Dr. Ray recruited technology guru Han Hills in 2011 to begin building a website to help connect secular clients with secular therapists, and the Secular Therapy Project went live in April of 2012. Over the next four years it grew to have over 8,000 clients and 270 therapists in the database, with no signs of slowing down.
    </p>
</div>

<div class="media">
  <h3>See Recovering from Religion in the Media</h3>
  <div class="logo">
    <a target="_blank" href="http://www.nytimes.com/2012/12/29/us/on-religion-where-are-the-humanists.html?_r=2&">
      <img src="http://a1.nyt.com/assets/homepage/20151216-175935/images/foundation/logos/nyt-logo-379x64.png">
  </a>
  </div>
  <div class="logo">
    <a target="_blank" href="https://www.youtube.com/watch?v=5GmnPmzpiMk">
      <img src="https://www.davidpakman.com/wp-content/uploads/2015/03/The-David-Pakman-Show-Logo.png">
    </a>
  </div>
  <div class="logo">
    <a target="_blank" href="https://www.psychologytoday.com/blog/our-humanity-naturally/201211/has-your-therapist-tried-save-you">
      <img src="http://dccatlanta.com/wp-content/uploads/2015/03/Psychology-Today-logo.gif">
    </a>
  </div>
</div>
