<header>
  <div class="title">
    <p class="header">Get the Treatment You Need</p>
    <p class="sub-header">Join a network of patients seeking therapists who use state-of-the-art, non-religious methods.</p>
  </div>
  <div class="left">
    <div class="button">
      <%= link_to "Find a Therapist", patient_signup_path %>
    </div>
    <div class="blurb">
      Search for therapists in your area who take a Secular approach to treatment.
    </div>
  </div>
  <div class="right">
    <div class="button">
      <%= link_to "Register as a Therapist", therapist_signup_path %>
    </div>
    <div class="blurb">
      Help people in your community who need Treatment...not Religion.
    </div>
  </div>
</header>

<div class="content">
  <section>
    <h2>Our Mission</h2>
    <p>
    Through this registry we hope you will find someone who can meet your needs or the needs of your loved ones. Using our system is simple and requires very little information from you. Our goal is to protect your confidentiality until you find a therapist to correspond with or to work with.
    </p>
  </section>

  <section>
    <h2>To Therapists</h2>
    <p>
    If you are a therapist, we encourage you to register with us. To make this project effective for secular clients, we need as many therapists as possible -- a critical mass -- that allows us to have therapists in every community.
    </p>

    <p>
    There are many secular people in your community that have mental health needs. Unfortunately, many secularists report that they cannot find a secular counselor in their community. We know there are often many secular therapists, but they cannot openly advertise as secular for fear of losing clients or other negative social and professional consequences. By registering you increase the likelihood that secular clients will find you and they will be able to avoid therapists who allow their religious, spiritual or supernatural beliefs to inform their therapeutic approach.
    </p>
  </section>
</div>

<div class="credibility">
  <h3>See Recovering from Religion in the Media</h3>
</div>
