<header>
  <div class="title">
    <p class="header">Get the Treatment You Need</p>
    <p class="sub-header">Join a network of clients seeking therapists who use state-of-the-art, non-religious methods.</p>
  </div>
  <div class="row">
    <div class="left">
      <div class="button">
          <%= link_to (patient_signup_path) do %>
          <i class="fa fa-location-arrow"></i>
          <span class="pad-text"><span class="lavender">Register as</span> a <br/></span>
            Client
          <% end %>
      </div>
    
      <div class="blurb">
        Find secular, evidence-based mental health clinicians in your area.
      </div>
    </div>
    <div class="left">
      <div class="button">
          <%= link_to (therapist_signup_path) do %>
          <i class="fa fa-plus-square"></i>
          <span class="pad-text"><span class="lavender">Register</span> as a</span></br> Therapist
          <%end%>
      </div>
      <div class="space"></div>
      <div class="blurb">
        Help people in your community who need treatment, not religion.
      </div>
    </div>
  </div>
</header>
