
<% provide title: "Inbox" %>

<h1>Inbox</h1>

<table>
  <% @messages.each do |m| %>
    <tr>
      <td>
        <% unless m.opened %>
          <%= link_to image_tag('https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/Red_pog.svg/2000px-Red_pog.svg.png', height: '10px', width: '10px'), show_conversation_path(m.sent_messageable_id, m.received_messageable_id) %>
        <% end %>
      </td>
      <td>
        <!-- AVATAR WILL GO HERE -->
        <%= link_to image_tag("https://www.drupal.org/files/profile_default.jpg", height: "30px", width: "30px"), patient_dashboard_path(m.sent_messageable_id) %>
      </td>
      <td>
        <%= link_to Patient.find(m.sent_messageable_id).name, patient_dashboard_path(m.sent_messageable_id) %>
      </td>
      <td>
        <%= link_to m.body, show_conversation_path(m.sent_messageable_id, m.received_messageable_id) %>
      </td>
    </tr>
  <% end %>
</table>
