<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-type' />
  </head>
  <body>
    <h1>You've been approved by the Secular Therapy Project</h1>
    <p>Congratulations. You can sign in to see your profile here:</p>
    <p><%= therapist_signin_url %></p>
  </body>
</html>

