<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-type' />
  </head>
  <body>
    <h1>New Therapist</h1>
    <p>A new therapist has applied for the Secular Therapy Project.</p>
    <p><%= votes_url %></p>
  </body>
</html>

