<% provide(:title, "Reset Password") %>
<div class="update-form">
<h1>Reset Your Password</h1>

<%= form_tag do %>

  <%= label_tag      :username %>
  <%= text_field_tag :username %>

  <%= submit_tag "Reset Password" %>
<% end %>
</div>