// Typography
$base-font-family: 'Open Sans', sans-serif;
$heading-font-family: 'Merriweather', serif;

// Font Sizes
$base-font-size: 1em;
$heading1-font-size: 1.75em;
$heading2-font-size: 1.25em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$light-blue: #98dafc;
$light-brown: #daad86;
$light-black: #312c32;
$red: #990033;
$dark-green: #58582d;
$light-green: #cccc99;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $red;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;

// Navigation

$large-screen: em(860) !default;
$navigation-padding: 1em;
$navigation-background: #fff;
$navigation-color: $red;
$navigation-color-hover: darken($navigation-color, 10%);
$navigation-height: 60px;
$navigation-nav-button-background: $action-color;
$navigation-nav-button-background-hover: lighten($navigation-background, 10%);
$navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20%);
$navigation-search-background: lighten($navigation-background, 5);
$navigation-search-border: 1px solid darken($navigation-background, 5);
$navigation-active-link-color: darken($navigation-color, 10%);
$navigation-submenu-padding: 1em;
$navigation-submenu-width: 12em;
$horizontal-bar-mode: $large-screen;
