<p id="notice"><%= notice %></p>

<h1>Listing Patient Messages</h1>


<table>
  <tbody>
    <% @patient_messages.each do |patient_message| %>
      <tr>
        <td>
        <% if patient_message.sent_messageable_type == "Therapist" %>
          <%= @therapist.username %>:
        <% else %>
          <%= @patient.username %>:
        <% end %>
      </td>
      <td>
        <%= patient_message.body %>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>
