// Place all the styles related to the patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
    @include outer-container();
    .main {
        @include span-columns(9);
        .avatar {
            @include span-columns( 3 of 9);
            text-align: center;
        }
        
        
    }
    .search {
        @include span-columns(3);
    }

}

    .notice {
            margin:auto;
            color:red;
            text-align:center;
            margin-bottom:3%;
        }

.patient-dashboard {

}
<<<<<<< HEAD


.Inbox-button{
    border:1px solid lightgreen;
    color:green;
    background-color:transparent;
    border-radius:5px;
    width:150px;
    height:25px;
}

.Inbox-button:hover{
    cursor:pointer;
}
=======
>>>>>>> 54353bb30f8e588e09b48aadb7274668b365c3c7
