body {
    margin: 0px;
    padding: 0px;
    a{
        font-weight: 600;
    }
}   


header {
  @include row();
  @include clearfix();
  background-repeat: no-repeat;
  background-size:cover; 
  width:100%;
  color: #fff;
  text-align: center;
  z-index: 999;
    margin:0px;
    padding:0px;
    margin-top:0.5%;
 height: 650px;
    
    
    border: 1px solid transparent;
    
    .lavender{
        color:darken($lavender,20%);
    }

  .title {
    padding: 3em 3em 5em 3em;
      color:$green;
    .header {
      font-size: 3em;
      padding: 0;
      margin: 0;
    }
  }

  .row {
    @include outer-container();
  
    .left {
      @include media(700px) {
        @include span-columns(6);
    }
      .button {
        background-color: white;
        border-radius: 3%;   
        font-style:inherit;
        border-radius:15px;
          &:hover{
                filter:brightness(130%);
              -webkit-filter:brightness(130%);
              
          }
          .pad-text{
              padding-right:8%;
          }
        a {
          color: $green;
          
            
            i{
                padding-right:3px;
            }
        }
        @include media(700px) {
          @include span-columns(2 of 6);
          @include shift(2);
      }
        padding: .5em;
        
        font-weight: bold;
      }

      
      .blurb {
        background-color:rgba(255,255,255,0.9);
        color: darken($dark-green,10%);
            
        @include media(700px) {
          @include span-columns(6 of 6);
        }
        padding: .5em;
        padding-bottom: 1.25em;
        margin-bottom: 2%;
        margin-top: 2%;
        font-size: 1.25em;
          
      }
    }

    .right {
      @include span-columns(4);
      @include shift(2);
  .button {
    background-color: #fff;
    a {
      color: $green;
    }
    @include span-columns(2 of 4);
    @include shift(1);
    padding: .5em;
    font-weight: bold;
  }

      
      .blurb {
        @include span-columns(4 of 4);
        padding: .5em;
        padding-bottom: 1.25em;
        font-size: 1.25em;
      }
    }
  }
}

.content {
  @include outer-container();
  padding-top: 2em;
  background-color: whitesmoke;
  padding:auto;
   border: 1px solid transparent;
    border-left: 0.5px solid black;
    border-top:0.5px solid black;
    box-shadow: 20px 8px 9px black;
    margin:auto;
    margin-top:2%;
    margin-bottom:1%;
    
  section {
    padding: 2%;
    padding-top:1%;  
  }
}

.media {
    margin-top:2%;
  h3 {
    font-size: 1.15em;
    padding: 0.5em;
  }

  background-color: $light-gray;
  @include row;
  text-align: center;

  .logo {
    @include span-columns(4);
  }
}

.edit-patient-body {
    overflow: hidden;
    margin-left:1%;
}

