// Place all the styles related to the therapists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.Inbox-button{
	border:1px solid lightgreen;
	color:green;
	background-color:transparent;
	border-radius:5px;
	width:150px;
	margin:0 auto;
	height:30px;
	padding-top:2px;
}

.Inbox-button:hover{
	cursor:pointer;
	transform:scale(1.02);
	transition:all 0.2s;
}

.Inbox-buttom a:hover{
	color:green;
}



.basic{
	margin:0 auto;
	margin-top:4%;
}