// Place all the styles related to the therapists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//Button css for the inbox on therapist main page...


.Inbox-button{
	border:1px solid lightgreen;
	color:green;
	background-color:transparent;
	border-radius:5px;
	width:100px;
	height:20px;
}

.Inbox-button:hover{
	cursor:pointer;
}